@charset "UTF-8";

body{
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #74ABF7;
}  





.b{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 15px;
  background-color: #385378;
}

legend{
    text-align: center;
    background-color: #5C88C4;
    border-radius: 15px;
    padding: 12px;
}

fieldset{
    border: 3pt solid white;
}

.input{
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    letter-spacing: 2px;
}